.highlightNodeBF .baseline {
    stroke-width: 3px;
    stroke: green;
    stroke-opacity: 0.6;
}

.highlightNodeBF .background {
    fill: green;
    fill-opacity: 0.3;
}

.highlightEdgeBF .baseline {
    stroke-width: 3px;
    stroke: red;
    stroke-opacity: 0.6;
}

.highlightEdgeBF .background {
    fill: red;
    fill-opacity: 0.3;
}

.highlightNodeAM rect {
    fill: green;
    fill-opacity: 0.3;
}

.highlightEdgeAM rect {
    fill: red;
    fill-opacity: 0.3
}

.highlightNodeNLD .nodeCircle {
    fill: green;
    fill-opacity: 0.3;
}

.highlightNodeNLD .baseline {
    stroke-width: 3px;
    stroke: green;
    stroke-opacity: 0.6;
}

.highlightNodeNLD .background {
    stroke: green;
    stroke-opacity: 0.3;
}

.highlightEdgeNLD .nodeCircle {
    fill: red;
    fill-opacity: 0.3;
}

.highlightEdgeNLD .baseline {
    stroke-width: 3px;
    stroke: red;
    stroke-opacity: 0.6;
}

.highlightEdgeNLD .background {
    stroke: red;
    stroke-opacity: 0.3;
}
